[Unit]
Description=RoleBot Discord Bot
After=network.target

[Service]
ExecStart=/home/rolebot/exec.sh
Restart=always
User=rolebot
Group=rolebot

[Install]
WantedBy=multi-user.target

; vim:set filetype=systemd:
